<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Menu/etc/menu.xsd">
    <menu>
        <add id="Bharat_Mod9::menu" 
             title="Mod9 Menu" 
             module="Bharat_Mod9" 
             sortOrder="100" 
             parent="Magento_Backend::content" 
             action="mod9/adminhtml/index/display" 
             resource="Bharat_Mod9::config"/>
    </menu>
</config>
