<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Theme\Block\Html\Breadcrumbs">
        <plugin name="breadcrumb_plugin" type="Bharat\Mod2\Plugin\BreadcrumbPlugin" />
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="product_name_plugin" type="Bharat\Mod2\Plugin\ProductPlugin" />
    </type>
    <type name="Magento\Theme\Block\Html\Footer">
        <plugin name="custom_copyright_plugin" type="Bharat\Mod2\Plugin\DesignPlugin" />
    </type>
    <type name="Magento\Theme\Block\Html\Header">
        <plugin name="custom_welcome_plugin" type="Bharat\Mod2\Plugin\DesignPlugin" />
    </type>
</config>
